stages:
    - build
    - build-artifact
    - publish
    - repository

default:
    image: docker:latest
    before_script: |
        DOCKER_TAG=${CI_COMMIT_REF_NAME/main/latest}
        if [ ! -z `command -v docker` ]; then
            echo -n $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER --password-stdin $CI_REGISTRY
            if [ -n "$DOCKER_REGISTRY_URL" ]; then echo -n $DOCKER_REGISTRY_PASSWORD | docker login -u $DOCKER_REGISTRY_USER --password-stdin $DOCKER_REGISTRY_URL; fi
        fi
    after_script: |
        if [ ! -z `command -v docker` ]; then
            docker logout $CI_REGISTRY
            if [ -n "$DOCKER_REGISTRY_URL" ]; then docker logout $DOCKER_REGISTRY_URL; fi
        fi

build:
    stage: build
    script:
        - docker build . --pull --build-arg COMMIT_SHA=$CI_COMMIT_SHA --build-arg FLUX_AUTOLOAD_API_IMAGE=$CI_REGISTRY/$CI_PROJECT_NAMESPACE/flux-autoload-api --build-arg FLUX_ILIAS_API_IMAGE=$CI_REGISTRY/$CI_PROJECT_NAMESPACE/flux-ilias-api --build-arg FLUX_NAMESPACE_CHANGER_IMAGE=$CI_REGISTRY/$CI_PROJECT_NAMESPACE/flux-namespace-changer --build-arg FLUX_REST_API_IMAGE=$CI_REGISTRY/$CI_PROJECT_NAMESPACE/flux-rest-api -t $CI_REGISTRY_IMAGE:$DOCKER_TAG
        - docker push $CI_REGISTRY_IMAGE:$DOCKER_TAG
    only:
        - branches
        - tags

create-gitlab-artifact-from-build:
    stage: build-artifact
    image: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/flux-docker-gitlab-build-artifact:latest
    script:
        - create-gitlab-artifact-from-docker-build $CI_REGISTRY_IMAGE:$DOCKER_TAG /$CI_PROJECT_NAME $CI_PROJECT_NAME-build.tar.gz
    artifacts:
        paths:
            - $CI_PROJECT_NAME-build.tar.gz
    only:
        - branches
        - tags

publish:
    stage: publish
    script:
        - docker pull $CI_REGISTRY_IMAGE:$DOCKER_TAG
        - docker tag $CI_REGISTRY_IMAGE:$DOCKER_TAG $DOCKER_REGISTRY_URL/flux-ilias-api/rest-api:$DOCKER_TAG
        - docker push $DOCKER_REGISTRY_URL/flux-ilias-api/rest-api:$DOCKER_TAG
    only:
        - main
        - tags

flux-publish-utils:
    stage: repository
    image: $CI_REGISTRY/$CI_PROJECT_NAMESPACE/flux-publish-utils:latest
    script:
        - publish-utils
    only:
        - main
